<h2>Pixtr says Hi! Galleries</h2>

<%= link_to "Make a new gallery", new_gallery_path %>

  <ul>
    <% @galleries.each do |gallery| %>
      <li>
        <% if gallery.has_image? %>
          <%= image_tag gallery.first_image, class: "image_preview" %>
          <br />
      <% end %>
        <%= link_to gallery.name, gallery %> - <%= gallery.description%>
        <%= link_to "Edit gallery", edit_gallery_path(gallery) %>
        <br />
        <div>

        </div>
        <br />
        <%= form_for gallery, method: :delete do |form| %> 
          <%= form.submit "Delete Gallery" %>
        <% end %>
        <br />
        <br />
      </li>
    <% end %>
  </ul>

