<h2>This is a page for the <span class="turq"><%= @gallery.name %></span></h2>
<h4><%= @gallery.description %></h4>

<% if @gallery.images == [] %>
  <h3>Ah snap! There aren't any images in this gallery yet.</h3>
  <%= link_to "Add some!", new_gallery_image_path(@gallery) %>
<% else %>
  <%= link_to "Add images", new_gallery_image_path(@gallery) %>
  <ul>
    <% @gallery.images.each do |image| %>
      <li>
        <%= image_tag image.url %>
        <br />
        <%= link_to image.name, gallery_image_path(@gallery, image) %>
        -
        <%= link_to "Edit image", edit_gallery_image_path(@gallery, image) %>
        <br />
        <br />
      </li>
    <% end %>
  </ul>
<% end %>
