<h2>You are viewing <span class="turq"><%= @image.name %></span></h2>
<h4>Return to <%= link_to @gallery.name, gallery_path(@gallery) %></h4>

<% if ! current_user.like?(@image) %>
  <%= button_to "Like this image", image_like_path(@image) %>
<% else %>
  <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
<% end %>

<%= link_to (image_tag @image.url), gallery_image_path(@gallery, @image)%>

<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body, "Comment" %>
    <br />
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Add comment" %>
  </div>
<% end %>

<ul>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</ul>
