<h2>You are viewing <span class="turq"><%= @image.name %></span></h2>
<h4>Return to <%= link_to @gallery.name, gallery_path(@gallery) %></h4>

<% if current_user.like?(@image) %>
  <%= button_to "Unlike this image", image_like_path(@image), method: :delete %>
<% else %>
  <%= button_to "Like this image", image_like_path(@image) %>
<% end %>

<p>Likes: <%= @likes.count %></p>

<ul>
  <% @image.likers.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<%= link_to (image_tag @image.url), gallery_image_path(@gallery, @image)%>

<h4>Tags:</h4>
<%= form_for [@image.gallery, @image] do |form| %>
  <%= form.collection_check_boxes(:tag_ids, @available_tags, :id, :name) %>
  <%= form.submit "Add tags" %>
<% end %>

<%= @image.tag_words %>

<h4>Groups:</h4>
<% if current_user == @image.gallery.user %>
  <%= form_for [@image.gallery, @image] do |form| %>
    <%= form.collection_check_boxes(:group_ids, @available_groups, :id, :name) %>
    <%= form.submit "Add to group" %>
  <% end %>
<% end %>

<%= form_for [@image, @comment] do |form| %>
  <%= render "error_messages", target: @comment %>
  <div>
    <%= form.label :body, "Comment" %>
    <br />
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit "Add comment" %>
  </div>
<% end %>

<ul>
  <% @comments.each do |comment| %>
    <%= render "comments/comment", comment: comment %>
  <% end %>
</ul>
